<h1>Create a new shortcut</h1>

<%= form_for @link, :url => links_path do |f| %>
  <%= f.text_field :shortcut %>
  <%= f.text_field :target %>
  <%= f.submit "Create" %>
<% end %>

<h1>All Links</h1>

<table>
  <tr>
    <th># Accessed</th>
    <th>Shortcut</th>
    <th>Target</th>
  </tr>

<% @links.each do |l| %>
  <tr>
    <td><%= l.access_count %></td>
    <td><%= l.shortcut %></td>
    <td><%= link_to l.target, url_for(l.target) %></td>
  </tr>
<% end %>
</table>
